* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  color: #333;
}

.container {
  width: 60%;
  background-color: #fff;
  padding: 50px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
span {
  color: red;
  font-weight: bold;
  font-size: 26px;
}
.result {
  background-color: #f2f2f2;
  border: 1px solid #eee;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  margin: 5px auto;
}
.result p {
  width: 50%;
}

input {
  width: 100%;
  background-color: #fafafa;
  padding: 20px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px auto;
  display: none;
}

button {
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
  cursor: pointer;
  margin: 10px auto;
}

.links {
  display: flex;
  justify-content: center;
  font-size: 48px;
}
.links a {
  padding: 10px 20px;
  color: blueviolet;
}

@media only screen and (max-width: 760px) {
  .container {
    width: 95%;
    padding: 30px;
  }
  .result {
    flex-direction: column;
  }
  .result p {
    width: 100%;
  }
  h2 {
    font-size: 16px;
  }

  .links {
    font-size: 36px;
  }
}
